<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.mapper.OrderMapper">
	
	<select id="findShopCartByUserId" resultMap="findShopCart">
	select 
      sc.amount shopcart_amount,sc.manageid manageid,sc.customerid customerid,
      m.id manage_id,m.cellphone manage_cellphone,m.price manage_price 
    from 
      shopcart sc  
      left join manage m on sc.manageid=m.id 
    where sc.customerid=#{userId}
	</select>
	
	<resultMap	id="findShopCart" type="ShopCartitems">
		<id column="customerid"/>
		<id column="manageid"/>
		<result column="shopcart_amount" property="amount"/>
			<association property="cellphone" javaType="Cellphone">
				<id column="manage_id" property="id"/>
				<result column="manage_cellphone" property="cellphone"/>
				<result column="manage_price" property="price"/>
			</association>
	</resultMap>
	
	
	<select id="findShopAddressByUserId" resultType="ShopAddress">
		select * from shopaddress
	</select> 
	
	<insert id="insert" useGeneratedKeys="true" keyColumn="ID" keyProperty="id">
		insert into orders values(orders_seq.nextval,#{customer.id},#{findtime},#{shopAddress.id},#{state})
	</insert>
	
	<delete id="deleteShopCart">
		delete from shopcart where customerid = #{userId}
	</delete>
	
	<insert id="insertOrderitems">
		insert into cellphoneorders values(#{orders.id},#{cellphone.id},#{amount})
	</insert>

 	<select id="findAll" resultMap="findAllUserid">
		select
			o.id orders_id,o.foundtime orders_foundtime,o.state orders_state,
			co.ordersid,co.manageid,co.amount cellphoneorders_amount,
			m.id manage_id,m.cellphone manage_cellphone,m.price manage_price,
			sa.id shopaddress_id,sa.username shopaddress_username,sa.detailaddress shopaddress_detailaddress,sa.cellphonenum shopaddress_cellphonenum 
		from 
			cellphoneorders co inner join orders o  on o.id=co.ordersid 
			inner join manage m on co.manageid = m.id 
			inner join shopaddress sa on o.shopaddressid=sa.id 
		where
			o.customerid=#{userId}
	</select>
	
	<resultMap type="OrdersItems" id="findAllUserid">
		<id column="ordersid"/>
		<id column="manageid"/>
		<result column="cellphoneorders_amount" property="amount"/>
		<association property="cellphone" javaType="Cellphone">
				<id column="manage_id" property="id"/>
				<result column="manage_cellphone" property="cellphone"/>
				<result column="manage_price" property="price"/>
		</association>
		<association property="orders" javaType="Orders">
			<id column="orders_id" property="id"/>
			<result column="orders_foundtime" property="findtime"/>
			<result column="orders_state" property="state"/>
			<association property="shopAddress" javaType="ShopAddress">
				<id column="shopaddress_id" property="id"/>
				<result column="shopaddress_username" property="username"/>
				<result column="shopaddress_detailaddress" property="detailaddress"/>
				<result column="shopaddress_cellphonenum" property="cellphonenum"/>
			</association>
		</association>	
	</resultMap>
	
	<select id="findOne" resultMap="order">
		select
			o.id orders_id,o.state orders_state,
			co.amount cellphoneorders_amount,co.ordersid,co.manageid,
			m.id manage_id,m.price manage_price
		from orders o 
			inner join cellphoneorders co on o.id=co.ordersid 
			inner join manage m on co.manageid=m.id 
		where o.customerid = #{userId} and o.id=#{id}
	</select>
	
	<resultMap type="Orders" id="order">
		<id column="orders_id" property="id"/>
		<result column="orders_state" property="state"/>
		<collection property="items" ofType="OrdersItems">
			<id column="ordersid"/>
			<id column="manageid"/>
			<result column="cellphoneorders_amount" property="amount"/>
			<association property="cellphone" javaType="Cellphone">
				<id column="manage_id" property="id"/>
				<result column="manage_price" property="price"/>
			</association>
		</collection>
	</resultMap>
	
</mapper>